nav{
    background-color: black;
    text-align: center;
    margin: auto;
}
nav li{
    display: inline;
    font-weight: bolder;
}
ul{
    list-style-type: none;
    padding-top: 15px;
    padding-bottom: 15px;
}
nav ul a{
    display: inline;
    padding: 40px 40px;
}
