/* styling body */

body{
    background-color: rgb(32, 29, 29);
    color: white;
    font-size: x-large;
    text-align: center;
}

/*styling nav bar*/

nav{
    background-color: black;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
}
nav li{
    display: inline;
    font-weight: bolder;
    color: white;
}
ul{
    padding-top: 8px;
    padding-bottom: 10px;
}
nav ul a{
    display: inline;
    padding: 40px 40px;
} 
nav ul li a:hover{
    background-color: royalblue;
}
li a{
    color: white;
}
h4{
    color: red;
}
h3{
    text-decoration: underline;
}
/* Styling image */
#view{
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
    display: inline-block;
    width: 380px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}
div.container {
    text-align: center;
    padding: 10px 20px;
  }
#help{
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
    display: inline-block;
    width: 380px;
    background-color:black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}
div.empower {
    text-align: center;
    padding: 10px 20px;
  }
  

#view li{
    width: 30%;
    display: inline-block;
    margin: 15px 2%;
}

#view li a{
    color: blue;
}

/* Styling About page */

/* Styling My projects page */

/* styling contacts page */
#contacts{
    background-color: rgb(34, 33, 33);
    width: 100%;
    height: 300px;
    text-align:center;
}


